html{
    margin: 0px;
    overflow: hidden;
}
nav{
    height:80px;
}
.width-50{
    width: 50%;
}
.width-30{
    width: 30%;
}
.bg-new{
    background-color: rgb(228, 228, 228);
}
hr{
    width: 100%;
    margin: 0px;
    margin-bottom: 5px;;
}
.bg-white{
    background-color: white;
}
#fade {  opacity: 0;
    animation-name: example;
    animation-duration: 2s;    
     }
.modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  
@keyframes example {
        from {opacity: 1;}
        to {opacity: 0;}
}